html, body {
    height: auto; /* Allow height to grow as needed */
    margin: 0;
}

.advisor-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    min-height: auto; /* Ensure content takes only the space it needs */
    overflow-y: auto; /* Allow vertical scrolling */
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
} 

.card {
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
}

.card img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card li {
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    background-color: #969abb;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    bottom: 40px; /* Position 20px from the bottom */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal content (the image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal content (the image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Image thumbnail styling */
.expandable-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.red-line{
    width: 60px;
    height: 5px;
    background-color: red;
    margin: 30px;
    margin-top: 15px;
}